# Data processing
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.0

# Signal processing
pywavelets==1.4.1
pyEDFlib==0.1.30

# Machine learning and deep learning
tensorflow==2.12.0

# Plotting and visualization
matplotlib==3.6.2